# Misc
.idea
GameFramework.sln.DotSettings.user

# Core Engine and Sandbox
Engine/bin
Engine/obj
EngineSandbox/bin
EngineSandbox/obj
Prototype/bin
Prototype/obj

# New EngineCore and ApplicationCore
EngineCore/bin
EngineCore/obj
ApplicationCore/bin
ApplicationCore/obj

# Application Sandbox
SandboxApplication/bin
SandboxApplication/obj

# Networking
NetCommon/bin
NetCommon/obj
NetTestCommon/bin
NetTestCommon/obj
NetServer/bin
NetServer/obj
NetClient/bin
NetClient/obj

# Sharp Minecraft
SharpMinecraft/bin
SharpMinecraft/obj